Package: quemos-theme-2
Version: 1.0
Architecture: amd64
Maintainer: QuemOS
Installed-Size: 47686
Depends: libc6, quemos-theme
Section: utils
Priority: optional
Homepage: https://github.com/quemos
Description: QuemOS Theme
  QuemOS Theme
